<%- include('../layouts/header') %>

<body>
    <link rel="stylesheet" href="css/main.css">


	<!-- Start Header Area -->
	<header class="header_area sticky-header">
		<div class="main_menu">
			<nav class="navbar navbar-expand-lg navbar-light main_box1">
				<div class="container">

 					<a class="navbar-brand logo_h" href="/home"><img src="/assets/img/logoWhite.png" alt=""></a>
					<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
					 aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>

                    <div class="collapse navbar-collapse offset" id="navbarSupportedContent">
						<ul class="nav navbar-nav menu_nav ml-auto">
							<li class="nav-item"><a class="nav-link1" href="/home">Home</a></li>
							<li class="nav-item"><a class="nav-link1" href="/shop">Product</a></li>
							<li class="nav-item submenu dropdown active">
								<a href="#" class="nav-link1 dropdown-toggle " data-toggle="dropdown" role="button" aria-haspopup="true"
								 aria-expanded="false">Login</a>
								<ul class="dropdown-menu">
									<li class="nav-item"><a class="nav-link" href="/login">My Profile</a></li>
									<li class="nav-item"><a class="nav-link" href="/login">Orders</a></li>
									<li class="nav-item"><a class="nav-link" href="/login">Wishlist</a></li>
									<li class="nav-item"><a class="nav-link" href="/register">Sign Up</a></li>
								</ul>
							</li>
						</ul>
						<ul class="nav navbar-nav navbar-right">
							<li class="nav-item"><a href="/login" class="cart"><span><i class="fa-solid fa-cart-shopping" style="color: #ffffff;"></i></span></a></li>
							<li class="nav-item">
								<button class="search"><span id="search"><i class="fa-solid fa-magnifying-glass" style="color: #ffffff;"></i></span></button>
							</li>
						</ul>
					</div>
				</div>
			</nav>
		</div>
		<div class="search_input" id="search_input_box">
			<div class="container">
				<form class="d-flex justify-content-between">
					<input type="text" class="form-control" id="search_input" placeholder="Search Here">
					<button type="submit" class="btn"></button>
					<span id="close_search" title="Close Search"><i class="fa-solid fa-magnifying-glass"></i></span>
				</form>
			</div>
		</div>
	</header>
    <br><br>
	<section class="login_box_area section_gap">
		<div class="container">
			<div class="row">
				<div class="col-lg-6">
					<div class="login_box_img">
						<img class="img-fluid" src="/assets/img/login.png" alt="">
						<div class="hover">
							<h4>New to our website?</h4>
							<p>Discover iconic timepieces from renowned global watch brands. Luxury, craftsmanship, and heritage await on our platform</p>
							
						</div>
					</div>
				</div>
				<div class="col-lg-6">
					<div class="login_form_inner">
						<h3>Sign Up to enter</h3>
						<form class="row login_form" action="/register" method="post" id="signUpForm" onsubmit="checkPassword(event)" >
							<div class="col-md-12 form-group">
								<input type="text" class="form-control" id="firstName" name="firstName" placeholder="First Name" onfocus="this.placeholder = ''" onblur="this.placeholder = 'First Name'">
							</div>
                            <div class="col-md-12 form-group">
								<input type="text" class="form-control" id="lastName" name="lastName" placeholder="Second Name" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Second Name'">
							</div>
                            <div class="col-md-12 form-group">
								<input type="email" class="form-control" id="email" name="email" placeholder="Email" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Email'">
							</div>
							<div class="col-md-12 form-group">
								<input type="password" class="form-control" id="password" name="password" placeholder="Password" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Password'">
							</div>
							<div class="col-md-12 form-group">
								<input type="password" class="form-control" id="cnfm_password" name="cnfm_password" placeholder="Conform Your Password" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Password'">
							</div>
							<div class="col-md-12 form-group">
								<button type="submit" value="submit" class="primary-btn">Request otp</button>
								<p id="message" style="color: #ffff;"></p>
                                   <% if(typeof message !== "undefined"){
                                       %>
                                    <p style="color: red;"><%=message%></p> 
                                 <%
                                  }
                                 %>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!--================End Login Box Area =================-->

<!-- start footer Area -->
<!-- <%- include('../layouts/footerPage') %> -->


<script src="/js/validation.js"></script>
 <%- include('../layouts/footer') %>