body {
    background-color: #f5f7ff;
}    
.navbar {
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}
.form-container {
  margin-top: 30px;
}
.form-groups{
  margin-bottom: 0;
}
.main-nav-list.active a {
  background: linear-gradient(to right, #004580, #0084bf);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.btn-blue {
  background: linear-gradient(to right, #17326d, #027cb7);
  color: white;
  border: none;
}

.btn-red {
  background: linear-gradient(to right, #027cb7, #17326d);
  color: white;
  border: none;
}