/* Resetting default margin and padding */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

form {
    display: inline-block;
    margin-right: 10px;
}

input[type="text"] {
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

button {
    padding: 5px 10px;
    border-radius: 5px;
    border: none;
    background-color: #048e89;
    color: white;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

/* Styling table */
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th, td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

th {
    background-color: #f2f2f2;
}

/* Styling buttons */
.action-buttons a {
    color: #0a3f77;
    text-decoration: none;
    margin-right: 5px;
}

.action-buttons a:hover {
    text-decoration: underline;
}

/* Styling footer */
footer {
    background-color: #333;
    color: white;
    padding: 10px 0;
    text-align: center;
}
#blockButton{
    color: aliceblue;
}