<%- include('../layouts/adminHeader') %>
         <link rel="stylesheet" href="/css/style3.css">

    <body>

        <nav class="navbar navbar-light bg-light">
          <a class="navbar-brand" href="#">
            <img src="/assets/img/logoZephyr.png"  class="d-inline-block align-top" alt="">
          </a>
          <a href="/admin/categoryManagement"><button class="btn btn-secondary mr-3">Go Back</button></a>
        </nav>
        
        <div class="container">
          <div class="row justify-content-center form-container">
            <div class="col-md-6">
              <h2 class="text-center mb-4 text-danger">Add Category</h2>
              <form action="/admin/addCategory" method="post" id="myForm" enctype="multipart/form-data">
                <div class="form-group">
                  <label for="categoryName">Category Name</label>
                  <input type="text" class="form-control" id="categoryName"  name="category" placeholder="Enter category name">
                </div>
                <div class="form-group">
                  <label for="description">Description</label>
                  <input type="text" class="form-control" id="description" name="description" placeholder="Enter description">
                </div>
                <div class="form-group">
                  <label for="image">Image Upload</label>
                  <div class="custom-file">
                    <input type="file" class="custom-file-input" id="image" name="categoryImage" accept="image/png, image/jpeg, image/webp" onchange="updateLabelImg(this)">
                    <label class="custom-file-label" for="image">Choose file</label>
                  </div>
                </div>
                <div class="form-check">
                  <input type="checkbox" class="form-check-input" name="isAvailable" value="1" id="isAvailable">
                  <label class="form-check-label" for="isAvailable">Is Available</label>
                </div>
                <div class="text-center mt-4">
                    <button type="submit" class="btn btn-info btn-lg btn-block" >Add Category</button>
                </div>
              </form>
              <br>
              <button type="button" class="btn btn-secondary btn-lg btn-block" onclick="clearForm()">Cancel</button>
              <br>
              <div id="validationMessages" class="alert alert-danger" role="alert" style="display: none;"></div><br>
              <% if(typeof message !== "undefined"){
                %>
                <p style="color: brown;"><%=message%></p> 
                <%
              }
              %>
            </div>
          </div>
        </div>
        <SCript>
  
          document.getElementById('myForm').addEventListener('submit', function(event) {
                  event.preventDefault();
                  if(!categoryFormValidation()){
                    return;
                  }
                  const form = document.getElementById('myForm');
                    const formData = new FormData(form);
        
                    fetch('/admin/addCategory', {
                        method: 'POST',
                        body: formData
                    })
                    .then(response => response.json())
                    .then(data => {
                      if (data.success) {
                          Swal.fire({
                              title: "New Categoru Added",
                              text: "New Category Added Successfully",
                              icon: "success"
                          }).then(() => {
                              window.location.href = `/admin/categoryManagement`; 
                          });
                      } else {
                        const validationMessage = document.getElementById('validationMessages')
                        validationMessage.style.display = 'block'
                        validationMessage.innerHTML = `${data.message}`
                      }
                    })
                    .catch(error => {
                        console.error('Error:', error);
                        alert('Error Adding Category');
                    });
              });
        
        </SCript>

  <script src="/js/adminFormValidation.js"></script>

       

<%- include('../layouts/adminFooter') %>