<%- include('../layouts/adminHeader') %>
         <link rel="stylesheet" href="/css/style3.css">

    <body>

        <nav class="navbar navbar-light bg-light">
          <a class="navbar-brand" href="#">
            <img src="/assets/img/logoZephyr.png"  class="d-inline-block align-top" alt="">
          </a>
          <a href="/admin/coupenManagement"><button class="btn btn-secondary mr-3">Go Back</button></a>
        </nav>
        
        <div class="container">
          <div class="row justify-content-center form-container">
            <div class="col-md-6">
              <h2 class="text-center mb-4 text-info">ADD COUPON</h2>
              <form action="/admin/addCoupen" method="post" id="myForm">
                <div class="form-group">
                  <label for="copenCode">Coupon Code</label>
                  <input type="text" class="form-control" id="copenCode"  name="coupenCode" placeholder="Enter Copen Code" required>
                </div>
                <div class="form-group">
                  <label for="discount">Discount (%)</label>
                  <input type="number" class="form-control" id="discount" name="discountPercentage" placeholder="Enter Discount" min="1" max="99" required>
                </div>
                <div class="form-group">
                    <label for="expiredDate">Expire Date</label>
                    <input type="date" class="form-control" id="expiredDate" name="expiredDate" placeholder="Enter expiredDate" required>
                </div>
                <div class="row">
                    <div class="form-group col-lg-6">
                        <label for="minmPrchsAmt">Minimum Parchase Amount </label>
                        <input type="number" class="form-control" id="minmPrchsAmt" name="minPurchaseAmt" placeholder="Enter Minimum Parchase Amount" min="1" required>
                    </div>
                    <div class="form-group col-lg-6">
                        <label for="maxRedimabelAmount">Maximum Redimabel Amount</label>
                        <input type="number" class="form-control" id="maxRedimabelAmount" name="maxRedimabelAmount" placeholder="Enter Maximum Redimabel Amount" min="1" required>
                    </div>
                </div>
                <div class="text-center mt-4">
                    <button type="submit" class="btn btn-info btn-lg btn-block" onclick="validateCoupenForm(event)">Add Coupen</button>
                </div>
              </form>
              <br>
              <button type="button" class="btn btn-secondary btn-lg btn-block" onclick="clearForm()">Cancel</button>
              <br>
              <p id="message"></p>
              <% if(typeof message !== "undefined"){
                %>
                <p style="color: brown;"><%=message%></p> 
                <%
              }
              %>
            </div>
          </div>
        </div>


        <script>
          function validateCoupenForm(event) {
            event.preventDefault();

              const form = document.getElementById('myForm');
              const message = document.getElementById('message');
      
              let couponCode = document.getElementById('copenCode').value.trim();  
              let codeRegex = /^[A-Za-z0-9]{5,10}$/;
              if (!codeRegex.test(couponCode)) {
                  message.textContent = "Coupon code must be 5-10 characters long and contain only letters and numbers.";
                  message.style.color = "red";
                  return;
              }
      
              let today = new Date();
              today.setHours(0, 0, 0, 0); 
              let expiredDate = new Date(document.getElementById('expiredDate').value);
              if (expiredDate <= today) {
                  message.textContent = "The expiration date must be a future date.";
                  message.style.color = "red";
                  return;
              }
      
              document.getElementById("myForm").submit();
          };
      </script>
      
      

  <script src="/js/adminFormValidation.js"></script>

       

<%- include('../layouts/adminFooter') %>