<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>



<script src="/js/vendor.bundle.base.js"></script>


<script src="/js/Chart.min.js"></script><!-- this is the table which can use in  deliverd or cancelled -->
<script src="/js/jquery.dataTables.js"></script> <!-- this is the table which can use in  user list -->


</body>

</html>