<script src="/js/vendor.bundle.base.js"></script>


<script src="/js/Chart.min.js"></script><!-- this is the table which can use in  deliverd or cancelled -->
<script src="/js/jquery.dataTables.js"></script> <!-- this is the table which can use in  user list -->


<script src="/js/hoverable-collapse.js"></script>
<script src="/js/template.js"></script>
<script src="/js/settings.js"></script>

<script src="/js/dashboard.js"></script>
  
</body>

</html>