<footer class="footer-area section_gap">
    <div class="container align-items-center justify-content-center">
        <div class="row">
            <div class="col-lg-12">
                <div class="single-footer-widget">
                    <h6>About</h6>
                    <p>Zephyr is your ultimate destination for all things watch-related. Whether you're searching for a classic timepiece from a prestigious brand or seeking the latest innovations in watch technology,
                    we've got you covered. Our curated selection features a diverse range of styles, designs, and functionalities to suit every taste and occasion.<br>
                    Zephyr envisions a world where the boundaries of time are transcended by the elegance and precision of luxury watches. We aspire to be the premier destination for watch enthusiasts, collectors, and everyday individuals seeking sophistication and style. 
                    By curating an extensive collection of renowned brands and offering seamless delivery and return services, we aim to redefine the way people experience and acquire high-quality timepieces.
                </p>
                </div>
            </div>
            <div class="col-lg-6 col-md-3 col-sm-3">
                <div class="single-footer-widget">
                    <h6>Follow Us</h6>
                    <p>Let us be social</p>
                    <div class="footer-social d-flex align-items-center">
                        <a href="#"><i class="fa fa-instagram"></i></a>
                        <a href="#"><i class="fa fa-facebook"></i></a>
                        <a href="#"><i class="fa fa-twitter"></i></a>
                        <a href="#"><i class="fa fa-linkedin"></i></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-bottom d-flex justify-content-center align-items-center flex-wrap">
            <p class="footer-text m-0"><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
            &copy;<script>document.write(new Date().getFullYear());</script> - Zephyr
                <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
</p>
        </div>
    </div>
</footer>